<div class="container py-5 h-100">
		<% if flash[:alert] %>
			<div id= "notice" class="alert alert-danger">
				<%= flash[:alert] %>
			</div>
		<% end %>
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12" id="accordian">
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							select address
						</button>
						</h2>
						<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
							<div class="card" id= "cards">
								<% @address.each do |address|%>
									<div class="card mb-4" style="background-color: #f8f9fa;">
										<div class="card-body" id="card_<%=address.id%>" class="icha0">
											<div class="row">
												<div class="col-sm-3">
													<p class="mb-0">Locality</p>
												</div>
												<div class="col-sm-9">
													<p class="text-muted mb-0"><%= address.locality %></p>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<p class="mb-0">Street No</p>
												</div>
												<div class="col-sm-9">
													<p class="text-muted mb-0"><%= address.street_no %></p>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<p class="mb-0">Plot No</p>
												</div>
												<div class="col-sm-9">
													<p class="text-muted mb-0"><%= address.plot_no %> </p>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<p class="mb-0">District</p>
												</div>
												<div class="col-sm-9">
													<p class="text-muted mb-0"><%= address.district %></p>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<p class="mb-0">State</p>
												</div>
												<div class="col-sm-9">
													<p class="text-muted mb-0"><%= address.state %></p>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<p class="mb-0">Nationality</p>
												</div>
												<div class="col-sm-9">
													<p class="text-muted mb-0"><%= address.nationality %></p>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<p class="mb-0">Pincode</p>
												</div>
												<div class="col-sm-9">
													<p class="text-muted mb-0"><%= address.pincode %></p>
												</div>
											</div>
											<%= link_to "make this as default", user_address_path(address.id), method: :patch,	remote: true %> 
										</div>
									</div>
								<%end%>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<%if @cart_items.present?%>
						<div class="card card-registration card-registration-2" style="border-radius: 15px; ">
							<div class="card-body p-0">
								<div class="row g-0">
									<div class="col-lg-12">
										<div class="p-5">
											<div class="d-flex justify-content-between align-items-center mb-5">
												<h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
											</div>
											<% @cart_items.map do |cart_item| %>
												<hr class="my-4">
												<%= render "user/cart_items/update", cart_item: cart_item %>
											<%end%>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-md-12">
								<div style="text-align: center">
									<%= button_to "order checkout", create_payment_intent_user_payment_index_path, method: :get, class: "btn btn-warning btn-lg", remote: true, id: "checkout-button" %>
								</div>
							</div>
						</div> 
				<%else%>
					<h1 style="text-align:center" id="message">Cart is empty</h1>
				<%end%>
			</div>
		</div>
	</div>
</div>



