<div class="row mb-4 d-flex justify-content-between align-items-center" id="cart_item_row<%=cart_item.id%>">
	<div class="col-md-2 col-lg-2 col-xl-2">
		<div class="card">
			<div class="card-body">
				<h5><%= cart_item.product.name%> image</h5>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-lg-3 col-xl-3">
		<h6 class="text-black mb-0"><%= cart_item.product.name%></h6>
	</div>
	<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
		<%= button_to "-", user_cart_item_path(product_id: cart_item.product.id, id: cart_item.id),params: {:quantity => "decrement"}, method: :patch, class: "btn btn-danger", remote: true%>
		<%= number_field_tag "quantity#{cart_item.id}", cart_item.quantity, class: 'form-control form-control-sm', style: 'text-align:center', disabled: true  %>
		<%= button_to "+", user_cart_item_path(product_id: cart_item.product.id, id: cart_item.id), params: {:quantity => "increment"}, method: :patch, class: "btn btn-success", remote: true%>
	</div>
	<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
		<h6 class="mb-0" id="price<%=cart_item.id%>"><%= cart_item.product.price * cart_item.quantity%></h6>
	</div>
	<div class="col-md-1 col-lg-1 col-xl-1 text-end">
		<a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
	</div>
</div>
