<% @address.each do |address|%>
  <div class="card mb-4" style="background-color: #f8f9fa;">
    <div class="card-body" id="card_<%=address.id%>" class="icha0">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Locality</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= address.locality %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Street No</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= address.street_no %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Plot No</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= address.plot_no %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">District</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= address.district %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">State</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= address.state %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Nationality</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= address.nationality %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Pincode</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0"><%= address.pincode %></p>
        </div>
      </div>
      <%= link_to "make this as default", user_address_path(address.id), method: :patch,	remote: true %> 
    </div>
  </div>
<%end%>
