<% if flash[:notice] %>
	<div class="alert alert-success">
		<%= flash[:notice] %>
	</div>
<% end %>
<section style="background-color: #eee;">
	<div class="container">
		<%if current_user.orders.present?%>
			<h1>Orders</h1>
			<div class="row">
				<table class="table" id="orders_table">
					<thead>
						<tr>
							<th scope="col">Invoice number</th>
							<th scope="col">Total Price</th>
							<th scope="col">Details</th>
						</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
							<tr>
								<td scope="row"><%= order.invoice_number%></th>
								<td><%= order.total_price %></td>
								<td>  
									<%= link_to user_order_path(order.id), method: :get do %>
    								<i class="fa fa-eye"></i> 
  								<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= paginate @orders %>
			</div> 
		<%else%>
			<h3>You have no orders to display</h3>
		<%end%>
	</div>
	<script>
	$(document).ready( function () {
		$('#orders_table').DataTable();
	});
</script>
</section>


