
<div class="mt-4">
	<div class="container">
	
	<% if flash[:notice] %>
		<div class="alert alert-success">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if flash[:alert] %>
		<div class="alert alert-danger">
		<% flash[:alert].each do |notice| %>
			<%= notice %>
			<br/>
		<%end%>
		</div>
	<% end %>
	<%= form_for(@user) do |f| %>
		<div class="col-auto flex-grow-1">
			<%= f.label :address %>
			<%= f.text_field :address, class: "form-control"%>
		</div>
		<br/>
		<div class="col-auto flex-grow-1">
			<%= f.label :phone %>
			<%= f.text_field :phone_number, class: "form-control" %>
		</div>
		<br/>
		<div class="col-auto", style="text-align:center">
			<%= f.submit "update", class: "btn btn-warning btn-lg" %>
		</div>
	<%end%> 
	</div>
</div>


		