<div class="container">
	<div class="d-flex justify-content-between align-items-center mb-5">
		<h1 class="fw-bold mb-0 text-black">Available Category</h1>
		<h6 class="mb-0 text-muted"><%= link_to "Add", new_admin_category_path, class: "btn btn-primary", data: { turbo_frame: "modal" } %></h6>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Sl.No</th>
					<th scope="col">category name</th>
					<th scope="col">action</th>
				</tr>
			</thead>
			<tbody>
			<% i = 1%>
				<% Category.all.each do |category| %>
					<tr>
						<td scope="row"><%= i %></th>
						<td><%= category.category_name %></td>
						<td>
							<div class="button-group">
								<%= button_to admin_category_path(category.id), method: :delete, class: "btn btn-danger btn-sm" do %>
  								<i class="fas fa-trash"></i>
								<% end %>
								<%= button_to edit_admin_category_path(category.id), method: :get, class: "btn btn-warning btn-sm" do %>
  								<i class="fas fa-edit"></i> 
								<% end %>
							</div>
						</td>
					</tr>
					<%i =i+1%>
				<% end %>
			</tbody>
		</table>
	</div> 
</div>

