<% if flash[:notice] %>
	<div class="alert alert-success">
		<%= flash[:notice] %>
	</div>
<% end %>
<% if flash[:alert] %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
<% end %>
<div class="row mx-0">
<%=render 'category'%>
	<div class="col-md-10 px-0">
		<div class="container">
			<%if @products.blank?%>
				<div class="col-sm-6">
					<h1 style="text-align:center">There is no product available</h1>
				</div>
			<%else%>
				<h1>Product Details</h1>
				<% if !@role.nil? %>
					<div class="d-flex justify-content-between align-items-center mb-5">
						<h6 class="mb-0 text-muted">
							<%= link_to "Add Product", new_product_path, class: "btn btn-primary"%>
							<%= link_to "My Products ", my_product_products_path, class: "btn btn-primary"%>
						</h6>
					</div>
				<%end%>
				<%= form_tag products_path, method: :get, class: "d-flex" do %>
					<%= hidden_field_tag :category_id, @category_id %>
					<%= text_field_tag :search, nil, class: "form-control me-2", placeholder: "Search", aria: { label: "Search" }, id: "search_product" %>
					<%= button_tag "Search", type: :submit, class: "btn btn-outline-success" %>
				<% end %> 				

				<div class="row">
					<%if current_user.is? :user%>
						<% @products.each do |product| %>
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<%= product.name%> <br/>
										<%= product.price %> <br/>
										<%= button_to user_cart_items_path(product_id: product.id), class: 'btn btn-primary btn-sm add_to_cart', title: "add to cart", remote: true do %>
  										<i class="fa fa-shopping-cart"></i> 
										<% end %>
										</div>
								</div>
							</div>
						<% end %>
						<%else%>
						<%=render 'admin_product'%>
					<%end%>
					<%= paginate @products %>
				</div>
			<%end%>
		</div>
	</div>
</div>
<script>
	$(".add_to_cart").hover(function(){
		$(".add_to_cart").tooltip({
		position: { my: "left+15 center", at: "right center"}
		})
  })
</script>



