<div class="mt-4">
	<div class="container">
		<h3>Add Product</h3>
		<% if flash[:notice] %>
		<div class="alert alert-success">
			<%= flash[:notice] %>
		</div>
		<% end %>

		<% if flash[:alert] %>
		<div class="alert alert-danger">
		<% flash[:alert].each do |notice| %>
			<%= notice %>
			<br/>
		<%end%>
		</div>
		<% end %>
		<%= form_for(@product) do |f| %>
			<div class="col-auto flex-grow-1">
				<%= f.label :product %>
				<%= f.text_field :name, class: "form-control", placeholder: "product name"%>
			</div>
			<br/>
			<div class="col-auto flex-grow-1">
				<%= f.label :price %>
				<%= f.text_field :price, class: "form-control", placeholder: "product price"%>
			</div>
			<br/>
			<div class="col-auto flex-grow-1">
				<%= f.label :quantity %>
				<%= f.text_field :quantity, class: "form-control", placeholder: "product quantity"%>
			</div>
			<br/>
			<div class="col-auto flex-grow-1">
				<%= f.label :Category%>
				<%= select_tag 'category', options_from_collection_for_select(Category.all,"id","category_name"),  :multiple => true, class: 'form-control'%>
			</div>
			<br/>
			<div class="col-auto", style="text-align:center">
				<%= f.submit "add", class: "btn btn-primary btn-lg" %>
			</div>
		<%end%> 
		<br/>
		<div class="col-auto", style="text-align:center">
			<%= button_to "back", products_path, method: :get, class: "btn btn-warning btn-lg" %>
		</div>
	</div>
</div>