<table class="table">
	<thead>
		<tr>
			<th scope="col">Product Name</th>
			<th scope="col">Price</th>
			<th scope="col">Category</th>
			<th scope="col">action</th>
		</tr>
	</thead>
	<tbody>	
		<% @product.each do |product| %>
			<tr>
				<td scope="row"><%= product.name %></th>
				<td><%= product.price%></td>
				<td><%= product.price%></td>
				<td>
					<div class="button-group">
						<%= button_to "delete", product_path(product.id), class: "btn btn-danger btn-sm", method: :delete  %>
						<%= button_to "edit", edit_product_path(product.id), class: "btn btn-warning btn-sm", method: :get %>
					</div>
				</td>
			</tr>
		<% end %> 
	</tbody>
</table>