<%
=begin%>
 <%= form_with model: category, class: "row g-3 mb-3" do |f| %>
  <div class="col-auto flex-grow-1">
    <%= f.label :phone_number, class: "visually-hidden" %>
    <%= f.text_field :address, placeholder: "category name", class: "form-control" %>
  </div>
<%end%> 
<%
=end%>


<div class="mt-4">
    <div class="container">
        <%= form_with  url: user_profile_index_path do |f| %>

            <div class="col-auto flex-grow-1">
                <%= f.text_field :address, placeholder: "address", class: "form-control" %>
            </div>
            <br/>
            <div class="col-auto flex-grow-1">
                <%= f.text_field :phone_number, placeholder: "phone no", class: "form-control" %>
            </div>

            <div class="col-auto", style="text-align:center">
                <%= f.submit "Save", class: "btn btn-primary btn-lg" %>
            </div>
        <%end%> 
    </div>
</div>


    