<section class="h-100 gradient-custom-2">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-lg-9 col-xl-7">
				<div class="card" >
					<div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
						<div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
							<%= image_tag("default_user_img.jpeg",
              alt: "Generic placeholder image",
              class: "img-fluid img-thumbnail mt-4 mb-2",
              style: "width: 150px; z-index: 1") %>
							<%if current_user.is? :user%>
								<%= link_to edit_user_profile_path(current_user.id), class: "btn btn-outline-dark", data: { "mdb-ripple-color": "dark" }, style: "z-index: 1;" do %>
										Edit Profile
								<% end %>
							<%end%> 
						</div>
						<div class="ms-3" style="margin-top: 130px;">
							<h5><%= @user.first_name %>&nbsp<%= @user.last_name %></h5>
							
						</div>
					</div>
					<div class="p-4 text-black" style="background-color: #f8f9fa;">
					</div>
					<br/>
					<div class="card-body p-4 text-black">
						<div class="d-flex justify-content-between align-items-center mb-4">
							<p class="lead fw-normal mb-0">About</p>
						</div>
						<div class="card mb-4" style="background-color: #f8f9fa;">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Full Name</p>
									</div>
									<div class="col-sm-9">
										<p class="text-muted mb-0"><%= @user.first_name %>&nbsp<%= @user.last_name %></p>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Email</p>
									</div>
									<div class="col-sm-9">
										<p class="text-muted mb-0"><%= current_user.email %></p>
									</div>
								</div>
								
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Phone</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0"><%= @user.user_profile.phone_number %> </p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Address</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0"><%=@user.user_profile.address%></p>
										</div>
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>