<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
  <div class="container">
    <%= link_to "Ekart" ,root_path, class: "navbar-brand text-white"%>
    <button class="navbar-toggler" style ="color:white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style ="color:white" ></span>
    </button>
    <% if  user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        </ul>
        <% if can? :manage, :dashboard %>
          <div class="d-flex">
            <%= link_to "Category" ,admin_categories_path, class: "nav-link text-white"%>  
          </div>
        <%else%>
          <div class="d-flex">
            <%= render "user/cart_items/cart" %>
          </div>
        <%end%>
        <div class="d-flex">
          <%= link_to "Products" ,products_path, class: "nav-link text-white"%>  
        </div>
        <div class="d-flex">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                My Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% if can? :manage, :dashboard %>
                  <li><%= link_to "Dashboard" ,admin_dashboard_index_path, class: "dropdown-item"%></li>
                <%else%>
                  <li><%= link_to "Profile" ,user_profiles_path, class: "dropdown-item"%></li>
                  <li><%= link_to "My Order" ,user_orders_path, class: "dropdown-item"%></li>
                <%end%>
                <li><%= button_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item"%></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    <%else%>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        </ul>
        <div class="d-flex">
          <%= link_to "Sign In" ,new_user_session_path, class: "nav-link text-white"%>  
        </div>
        <div class="d-flex">
          <%= link_to "Sign up" ,new_user_registration_path, class: "nav-link text-white"%>  
        </div>
      </div>
    <%end%>
  </div>
</nav>  





